@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;800&display=swap');

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
}

/* General */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #cbc0d9, #ffffff);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 80vh;
  width: 85%;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 4rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  background: -webkit-linear-gradient(#a599b5, #373f42);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  background: #cbcbcb;
}

button:hover {
  background: #a599b5;
  color: #fff;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #a599b5;
}

/* Bg colors based on condition codes */
/* 200-799 */
.bg-black {
  background-image: linear-gradient(to bottom, #494d4d, #c6bcbc);
}

/* 800 */
.bg-blue {
  background-image: linear-gradient(to bottom, #87ceeb, #ffffff);
}

/* 801 and above */
.bg-gray {
  background-image: linear-gradient(to bottom, #b0bec5, #eceff1);
}

/* Form */
form {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  justify-content: space-between;
  max-width: 30rem;
}

form input[type='text'] {
  border: 1px solid rgba(122, 122, 122, 0.2);
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
}

form input[type='text']:focus,
form input[type='text']:active {
  border: 1px solid #a599b5;
}

form button[type='submit'] {
  width: 40%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form button[type='submit']:hover {
  background: #a599b5;
  color: #fff;
  cursor: pointer;
}

/* Results */
#results {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Toggle */

/* Weather data */
#results #results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

#results #save-btn {
  margin: 1rem auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  position: absolute;
  top: -50%;
  right: -1.5rem;
}

#results #save-btn > div {
  width: 2px;
  height: 0.7rem;
  background: rgba(0, 0, 0, 0.4);
}

#results #save-btn > div:after {
  content: '';
  width: 2px;
  height: 0.7rem;
  background: rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
  position: absolute;
}

#results #save-btn:hover {
  cursor: pointer;
  border: 1px solid #a599b5;
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  color: #a599b5;
}

#results #error {
  text-align: center;
  color: rgba(255, 0, 0, 0.591);
}

#already-saved {
  color: green;
}

#results #location {
  text-align: center;
  padding-right: 0.5rem;
}

#results #temperature {
  text-align: center;
  font-size: 7rem;
  font-weight: 800;
  color: #a599b5;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

#results #temperature sup {
  font-size: 2.5rem;
  font-weight: 300;
}

#results #temperature:hover {
  cursor: pointer;
  color: #b7a9c9;
}

#results #conditions-description {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

/* Saved Locations */
#saved-locations {
  width: 100%;
  margin-top: 1rem;
}

#saved-locations li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#saved-locations li #actions {
  display: flex;
  align-items: center;
  opacity: 0.3;
}

#saved-locations li #actions:hover {
  opacity: 1;
}

#saved-locations li #actions #delete-btn {
  margin: 1rem auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#saved-locations li #actions #delete-btn > div {
  width: 2px;
  height: 0.7rem;
  background: rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
}

#saved-locations li #actions #delete-btn > div:after {
  content: '';
  width: 2px;
  height: 0.7rem;
  background: rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
  position: absolute;
}

#saved-locations li #actions #delete-btn:hover,
#saved-locations li #actions #run-btn:hover {
  border: 1px solid #a599b5;
  cursor: pointer;
}

#saved-locations li #actions #delete-btn:hover > div,
#saved-locations li #actions #delete-btn:hover > div:after,
#saved-locations li #actions #run-btn:hover > div,
#saved-locations li #actions #run-btn:hover > div:after {
  background: #a599b5;
}

#saved-locations li #actions #run-btn {
  margin-right: 0.4rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#saved-locations li #actions #run-btn > div {
  width: 2px;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
  position: absolute;
  top: 32%;
  left: 33%;
}

#saved-locations li #actions #run-btn > div:after {
  content: '';
  width: 2px;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
  position: absolute;
  top: -50%;
  left: 200%;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.4);
  margin-top: auto;
}
